
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Delete File</h2>
@using (Html.BeginForm("Delete", "Filess", FormMethod.Post))
{
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="@Model.Id" placeholder="@Model.Name">
    </div>
    <div class="form-group">
        <img style="width:200px; height:200px" src="~/Uploads/@Model.Name">
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Delete</button>
    </div>
}
