
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
@using (Html.BeginForm("Delete", "Category", FormMethod.Post))
{
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="@Model.Id" value="@Model.Name">
    </div>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Delete</button>
    </div>
}
